body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(112, 25, 25);
    height: 180px;
    font-weight: bold;
    font-size: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
img{
    border-radius: 60px;
    margin: 25px;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}
ul li a{
    color: white;
    letter-spacing: 0.1rem;

}
ul li a:hover{
    color: black;
    text-decoration: underline;
}
.menu li{
    float: right;
    padding: 35px;
}
.menu li a{
    text-decoration: none;
}