body{
    width: 948px;
    border-left: 250px solid rgb(112, 25, 25);
    border-right: 250px solid rgb(112, 25, 25);
    margin: auto;
}

.tabe{border:2px solid black;

font-size: 30px;

color: rgb(8, 8, 8);

}

.text{
color: rgb(8, 8, 8);
    font-size: 30px;
}

.txt{
    color: rgb(12, 12, 12);
    font-size: 25px;
}
.fond{

    background-color: rgb(247, 242, 241);
    padding: 15px;
    border: 2px solid rgb(112, 25, 25);
}
.annee{
    color: rgb(112, 25, 25);
 font-style: unset;
  
}


   .titre{
    color: rgb(112, 25, 25);
    display: flex;
    justify-content: center;
   }
   img{

    width:170px ;
    border: solid rgb(112, 25, 25);
    border-radius: 3px;
    position: absolute;
    height: 180px;
    margin-left: 710px;
    
   }