/*MENU ADAMA*/
*{
    margin: 0px;
    padding: 0px;
}
.active
{
    color: black;
}
.header{
    background-color: rgb(112, 25, 25);
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    width: 100%;
    left: 0px;
    border-bottom: 2px solid white;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-top: 0px;
}
.z{
    border-radius: 60px;
    margin: 25px;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}
ul li a{
    color: white;
    letter-spacing: 0.1rem;

}
ul li a:hover{
    color: black;
    
}
.menu li{
    float: right;
    padding: 35px;
}   

.menu li a{
    text-decoration: none;
}


.tabe{border:2px solid black;

font-size: 30px;

color: rgb(8, 8, 8);

}
.global{ /*Lamine : J'ai ajouter la class global pour pouvoir séparer la menu du contenu de Cheikh*/
    width: 82%;
    top: 110px;
    position: relative;
    z-index: -1;
    border-left: 120px solid rgb(112, 25, 25);
    border-right: 140px solid rgb(112, 25, 25);

}
.text{
color: rgb(8, 8, 8);
    font-size: 30px;
}

.txt{
    color: rgb(12, 12, 12);
    font-size: 25px;
}
.fond{

    background-color: rgb(247, 242, 241);
    padding: 15px;
    border: 2px solid rgb(112, 25, 25);
}
.annee{
    color: rgb(112, 25, 25);
 font-style: unset;
  
}


   .titre{
    color: rgb(112, 25, 25);
    display: flex;
    justify-content: center;
   }
   .image_cheikh{

    width:170px ;
    border: solid rgb(112, 25, 25);
    border-radius: 3px;
    position: absolute;
    height: 190px;
   margin-left: 883px;
   margin-top: 12px;
    
   }