ul li a{
    color: white;
    letter-spacing: 0.1rem;

}
ul li a:hover{
    color: black;
    
}
.menu li{
    float: right;
    padding: 35px;
}   

.menu li a{
    text-decoration: none;
}
.container
{
width: 100%;
height: 100%;
margin-bottom: 40px;
position: relative;
top: 80px;
}
.box
{
    border: 2px solid rgb(112, 25, 25);
    width: 800px;
    height: auto;
    margin: auto;
    display: flex;
}
.left
{
    width: 40%;
    background-color:white;
    padding:10px;
}
.blocleft
{
    background-color:#d5d5d5;
    color: rgb(112, 25, 25);
    font-weight: bold;
    text-align: center;

}
.profil
{
    text-align: justify;
}
.right
{
    width: 60%;
    background-color: #d5d5d5;
    padding:10px;
}
.annee
{
    margin-right: 35px;
    font-size: 15px;
   text-decoration: underline;
}
.formation
{
    color: rgb(112, 25, 25);
    font-weight: bold;
}
.blocright{
    background-color:rgb(112, 25, 25);
    color: white;
    font-weight: bold;
    text-align: center;
}
table{
    width: 100%;
}
tr{
    border: 1px solid black;
    height: 40px;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.m{
    color: white;
    font-size: 18px;
}
main{
    padding-bottom: 50px;
}